html {
  scroll-behavior: smooth;
}
/* Scroll Indicator */

/* Scroll Indicator */
.about-us-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: justify;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Anton', sans-serif;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 25px;
  height: 50px;
  margin-left: -20px;
  bottom: 2%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  z-index: 9999;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0%{
    opacity: 1;
    }
  100% {
    opacity: 0;
    transform: translateY(46px);
    }
}